<div>

  <label for="edadUno">Edad Uno:</label>
  <input type="number" [(ngModel)]="edadUno" id="edadUno" />

  <label for="edadDos">Edad Dos:</label>
  <input type="number" [(ngModel)]="edadDos" id="edadDos" />

  <div style="text-align: center; margin-top: 10px;">
    <button (click)="calcular()" style="padding: 10px 20px; font-size: 16px;">Calcular</button>
    <button (click)="limpiar()" style="padding: 10px 20px; font-size: 16px;">Limpiar cuadros de textos</button>
  </div>

  <div>
    <label for="suma">Suma:</label>
    <input type="text" [value]="suma" id="suma" readonly />

    <label for="promedio">Promedio:</label>
    <input type="text" [value]="promedio" id="promedio" readonly />
  </div>
</div>
